body{
  font-size: 16px;
  font-family: 'Exo', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}
.bg-orange{
  background-color: #ffbd39;
}
.color-orange{
  color: #ffbd39;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
  color: #ffc107;
    position: relative;
}
.active:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background: #ffc107;
  bottom: 5px;
  left: 8px;
}
.font18{
  font-size: 18px;
}
.show{
  transition: 2s ease-in-out;
}
.navbar-collapse{
  transition: 2s ease-in-out;
}
.logo-img{
  border-radius: 4%;
  width: 300px;
  height: 386px;
  object-fit: cover;
  box-shadow: 1px -1px 12px 8px #e9dbdb;
}
#about-section{
  width: 100%;
  background-color: #0069d9;
}
.home{
  background-color: #000;
  
  width: 100%;
  display:flex;
  justify-content:center;
  /* align-items:center; */
  justify-content: center;
  flex-direction: column;
  border-bottom:4px solid #ffffff ;
}
#services-section{
  width: 100%;
  background-color: #0b2e13;
  border-bottom:4px solid #ffffff ;
}
#about-section{
  width: 100%;
  background-color: #000000;
  border-bottom:4px solid #ffffff ;
}
#resume-section{
  /* height: 700px; */
  width: 100%;
  background-color: #000000;
  border-bottom:4px solid #ffffff ;
}
#skills-section{
  /* height: 700px; */
  width: 100%;
  background-color: #000000;
  border-bottom:4px solid #ffffff ;
}
#contact-section{
  width: 100%;
  background-color: #000000;
  border-bottom:4px solid #ffffff ; 
}
#footer-section{
  width: 100%;
  background-color: #000000;
  color: #fff;
  border-bottom:4px solid #ffffff ; 
}
 /*------------------------ about section--------------------- */
 h1.big{
  font-size: 82px;
  position: absolute;
  top: 0px;
  opacity: .2;
  text-shadow: 7px 2px 4px #fff;
  
 }
 #about-section ul li span:nth-child(1){
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
 }
 #about-section ul li span:nth-child(2){
  
  font-size: 20px;
  margin:0 0 5px 10px;
  opacity: .8;
 }
 /* ---------------------------------------resume section---------- */
 #resume-section h1.big,
 #skills-section h1.big,
 #contact-section h1.big{
  font-size: 82px;
  position: absolute;
  top: 0px;
  opacity: .2;
  text-shadow: 7px 2px 4px #fff;
  left: 0;
    right: 0;
 }
 .resume-wrap .date {
  font-weight: 900;
  font-size: 26px;
  color: #ffbd39;
}
.resume-wrap h2 {
  font-size: 26px;
}
.resume-wrap p, .resume-wrap span{
  opacity: .7;
}
.resume-wrap .position {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
 .resume-wrap{
  width: 100%;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
 }
 /*------------------------------ skills section-------------------- */
 .progress-bar {
  background: #ffbd39;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000000;
  font-weight: 600;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.progress span{
  font-size: 15px;
  font-weight: 600;
}
.progress{
  height: 1.3rem;
}
.animate-box .progress-wrap{
  margin: 10px 15px;
}
/*------------------------------ contact us section -----------------*/
.contact-info .col-md-6 {
  justify-content: center;
}
#contact-section i{
  color: #ffbd39;
    font-size: 30px;
}
.contact-section .box .icon {
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  margin-bottom: 2em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.contact-section .contact-info p a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.contact-section .contact-info p a:hover{
  color: #ffbd39;
  text-decoration: underline;
}

/* ---------------------footer-section --------------------*/
#footer-section ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  /* opacity: .6; */
}
#footer-section ul li a:hover{
  color: #ffbd39;
  text-decoration: underline;
}
.ul-2 li a{

} 
@media (max-width:991px){
  .active:after{
    width: 91px;
    /* margin: 0 0 !important; */
    left: 50%;
    transform: translate(-50%, 0px);
  }
}
@media (max-width:767px){
  .home .text-white .col-md-6{
    padding-left: calc(50vw - 167px) !important;
  }
}